:root {
    --color-cuerpo: #f1f1f1;
    --color-texto: #000;
    --skills-barra-progreso: 0%;
  }
  
  .cuerpo {
    background-color: var(--color-cuerpo);
  }
  
  .portada .portada__imagen .portada__imagen__mujeres {
    display: block;
    margin: 10px auto;
    width: 50%;
    height: auto;
  }
  
  .inicio .inicio__parrafo .inicio__parrafo__LZV {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin-top: 50px;
    margin-left: 25%;
    margin-right: 25%;
    text-align: justify;
  }


.skills {
    display: flex;
    margin-top: 50px;
    margin-left: 25%;
  }
  
  .skill__item {
    padding-left: 125px;
  }
  
  .skills__titulo{
      font-family: 'Fira Sans', sans-serif;
  }
  
  .skills__parrafo {
    text-transform: uppercase;
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    text-align: center;
  }
  
  .skills__barra__progreso,
  .skills__barra__progreso::after {
    position: relative;
    width: 150px;
    height: 8px;
    background-color: #ccc;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .skills__barra__progreso::after {
    content: "";
    position: absolute;
    left: -150px;
    background-color: #ae3faf;
    transition: 0.1s, background-color 0.2s ease-in-out;
    animation: skills-barra-progreso 2s ease-in-out forwards;
  }
  
  .skills__barra__progreso--25::after {
    --skills-barra-progreso: 25%;
  }
  
  .skills__barra__progreso--50::after {
    --skills-barra-progreso: 50%;
  }
  
  .skills__barra__progreso--70::after {
    --skills-barra-progreso: 70%;
  }
  
  .skills__barra__progreso--80::after {
    --skills-barra-progreso: 80%;
  }
  
  .skills__barra__progreso--90::after {
    --skills-barra-progreso: 90%;
  }
  
  @keyframes skills-barra-progreso {
    to {
      transform: translateX(var(--skills-barra-progreso));
    }
  }
  
  @media screen and (max-width: 768px) {
    .skills {
      display: block;
      margin-left: 5%;
      margin-right: 5%;
    }
  
    .skill__item {
      padding-left: 0;
      margin-bottom: 20px;
    }
  
    .skills__barra__progreso,
    .skills__barra__progreso::after {
      width: 130px; /* Ajusta el ancho de las barras de progreso */
      margin-left: auto;
      margin-right: auto;
    }
  
    .inicio .inicio__parrafo .inicio__parrafo__LZV {
      margin-left: 5%;
      margin-right: 5%;
    }
  
    .portada .portada__imagen .portada__imagen__mujeres {
      width: 90%; /* Ajusta el ancho de la imagen de las mujeres en la portada */
      margin: 10px auto;
      margin-left: 5px; /* Agrega un pequeño margen izquierdo */
      margin-right: 5px; /* Agrega un pequeño margen derecho */
    }
  }
  
  