.formulario {
    padding: 40px;
    text-align: center;
}

.form {
    width: 100%;
    padding: 0.5em;
    margin-right: 0;
    position: relative;
    color: #AE3FAF;
    border-radius: 25px;
    box-sizing: border-box;
    background-color: #EBC7E6;
}

.formulario__titulo {
    font-family: 'Fira Sans', sans-serif;
}

.formulario__contenido {
    display: flex;
    flex-direction: column;
}

.formulario__label {
    text-align: left;
    font-size: 14px;
}

.formulario__checkbox {
    display: flex;
    justify-content: start;
    gap: 5px;
}

.formulario__botones {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.formulario__button {
    background-color: #AE3FAF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 12px 24px;
    cursor: pointer;
    margin-right: 10px;
}

textarea {
    width: 100%;
    border: 0.5px solid #000;
    border-radius: 3px;
    background-color: #fff;
    margin: 8px 0;
    resize: none;
    display: block;
}

@media only screen and (min-width: 768px) {
    .formulario {
        padding: 1em;
    }

    .form {
        width: 300px;
        padding: 20px;
        margin: 0 auto;
    }

    .formulario__label {
        font-size: 16px;
    }
}
