.pie {
    margin-top: 50px;
    position: relative;
    bottom: 0;
    background-color: #AE3FAF;
    width: 100%;
    height: 100px;
    display: block;
    justify-content: center;
    align-items: center;
}

.pie__contenido__parrafo {
    color: #fff;
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    text-align: center;
    padding: 40px;
}

.pie .pie__rrss .pie__rrss__lista__item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie .pie__rrss .pie__rrss__lista__item a {
    margin-left: 0;
    padding: 10px;
    text-decoration: none;
    font-size: 28px;
    list-style: none;
}
/* Estilos para dispositivos móviles */
@media (max-width: 767px) {
    .pie {
        margin-top: 30px;
        height: 80px;
    }

    .pie__contenido__parrafo {
        font-size: 14px;
        padding: 20px;
    }

    .pie .pie__rrss .pie__rrss__lista__item a {
        font-size: 24px;
    }
}