.video {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 560px;
    height: 315px;
    animation: fadeIn 3s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        filter: blur(20px);
    }
    10% {
        opacity: 1;
        filter: brightness(2) blur(10px);
    }
}
.grid-container {
    width: 45%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}

.grid-container .grid-item {
    text-align: center;
}

.grid-container .grid-item img {
    width: 100%;
}
